<!DOCTYPE html>
<html>
	<head>
		<title>Getting started</title>
		<link href="/public/css/add-repository.css" rel="stylesheet" type="text/css">
		<link rel="icon" href="/public/assets/logo.png" type="image/x-icon">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
	</head>
<body>
	<div class="left">
		<!--Top menu -->
		<div class="menu">
			<h1>EpiSafe</h1>
			<ul>
				<li><img class="icon-menu" id="white" src="/public/assets/menu/home-white.png" alt="logo" width="30" height="30"><img class="icon-menu" id="blue" src="/public/assets/menu/home-blue.png" alt="logo" width="30" height="30"><h4>Accueil</h4></li>
				<li><img class="icon-menu" id="white" src="/public/assets/menu/setting-white.png" alt="logo" width="30" height="30"><img class="icon-menu" id="blue" src="/public/assets/menu/setting-blue.png" alt="logo" width="30" height="30"><h4>Paramètres</h4></li>
				<li><img class="icon-menu" id="white" src="/public/assets/menu/about-white.png" alt="logo" width="30" height="30"><img class="icon-menu" id="blue" src="/public/assets/menu/about-blue.png" alt="logo" width="30" height="30"><h4>À propos</h4></li>
			</div>
	</div>
	<div class="right">
		<div class="content">
			<div class="header">
				<h1>Ajouter un nouveau répertoire</h1>
			</div>
			<div class="form-content">
				<div class="aa">
					<form action="/add-repository" method="POST">
						<div class="form-left">
							<p>Nom du répertoire :</p>
							<input type="text" name="name" placeholder="Ex : RPG" required>
							<p>Date de début :</p>
							<input type="date" name="start" id="start" required>
							<p>Check compilation :</p>
							<input type="checkbox" name="compilation">
							<p>Check tests unitaires :</p>
							<input type="checkbox" name="test">
						</div>
						<div class="form-left">
							<p>Url du répertoire</p>
							<input type="text" name="url" placeholder="Ex :https://github/repository" required>
							<p>Date de fin :</p>
							<input type="date" name="finish" id="finish" required>
							<p>Check norme :</p>
							<input type="checkbox" name="coding_style">
						</div>
						<button type="submit">Ajouter</button>
					</form>
				</div>
				<div class="illustration">
					<img src="/public/assets/add-repository/illustration.png" alt="logo">
				</div>
			</div>
	</div>
</body>
</html>
